.vscode/*
/.vs/myWebApp/FileContentIndex/eb5833db-a309-43b7-9ad1-0d4915c7465f.vsidx
/.vs/myWebApp/v16/.suo
/.vs/myWebApp/FileContentIndex/0f74e867-d957-477c-b446-7db0d2fca969.vsidx
/.vs/myWebApp/FileContentIndex/5e3380f1-ddcd-4c99-92ad-5dba230e8032.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/obj/Debug/net9.0
/.vs/myWebApp/FileContentIndex
/obj/Release/net9.0
.vs/myWebApp/v17/.wsuo
.vs/myWebApp/v17/DocumentLayout.json
obj/myWebApp.csproj.nuget.dgspec.json
obj/myWebApp.csproj.nuget.g.props
obj/myWebApp.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
